<div class="cssPageBody">
    <table id="idCustomersTable" class="cssTable">
        <caption>
            Customers <span class="cssSmall">({{aCustomers.length}})</span>
            <input name="fSearch" type="text" placeholder="Search" value="" [(ngModel)]="fSearch" />
            <button type="button" class="cssButDef" (click)="jsEditCustomer('0')">Add new</button>
        </caption>
        <thead>
        <tr>
            <th (click)="jsSortBy('fName')">Name
                <fa *ngIf='strSortBy === "fName" && !bSortDes' name="long-arrow-down"></fa>
                <fa *ngIf='strSortBy === "fName" && bSortDes' name="long-arrow-up"></fa>
            </th>
            <th (click)="jsSortBy('fEmail')">Email
                <fa *ngIf='strSortBy === "fEmail" && !bSortDes' name="long-arrow-down"></fa>
                <fa *ngIf='strSortBy === "fEmail" && bSortDes' name="long-arrow-up"></fa>
            </th>
            <th (click)="jsSortBy('fPhone')">Phone number
                <fa *ngIf='strSortBy === "fPhone" && !bSortDes' name="long-arrow-down"></fa>
                <fa *ngIf='strSortBy === "fPhone" && bSortDes' name="long-arrow-up"></fa>
            </th>
            <th (click)="jsSortBy('fCountry')">Country
                <fa *ngIf='strSortBy === "fCountry" && !bSortDes' name="long-arrow-down"></fa>
                <fa *ngIf='strSortBy === "fCountry" && bSortDes' name="long-arrow-up"></fa>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let jsonCustomer of aSearchCustomers" (click)='jsReadCustomer(jsonCustomer.id)'>
            <td>{{jsonCustomer.fName}}</td>
            <td>{{jsonCustomer.fEmail}}</td>
            <td>{{jsonCustomer.fPhone}}</td>
            <td>{{jsonCustomer.fCountry}}</td>
        </tr>
        </tbody>
    </table>
</div>
