.cssAppHeaderBg {
    position: fixed;
    width: 100%;
    background-color: #1174ba;
    height: 80px;
    z-index: 1;
}
.cssAppHeaderBgTop {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #fff;
}
.cssAppHeader {
    margin: 0 auto;
    min-width: 600px;
    max-width: 1200px;
    height: 80px;
    position: relative;
}
.cssAppLogo {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: #fff;
    border: solid 1px red;
    border-radius: 50%;
}
.cssSiteTitle {
    padding-top: 6px;
    font-size: 24px;
    color: #1174ba;
    text-align: center;
}
.cssTopNav {
    position: absolute;
    left: 120px;
    bottom: 0;
    line-height: 40px;
}
.cssTopNav a {
    display: inline-block;
    padding: 0 30px;
    border-right: solid 1px #FFF;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
}
.cssTopNav a:first-child {
    border-left: solid 1px #FFF;
}
.cssNav1A {
    background-color: #121f6b;
}

#idSettingsIcon {
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 42px;
    right: 20px;
    cursor: pointer;
}
.cssSettingsMenu {
    background-color: #fff;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    border: solid 1px #ccc;
    border-radius: 4px;
    width: 150px;
}
.cssSettingsMenu div {
    padding: 4px 8px;
}
.cssSettingsMenuOption {
    border-top: solid 1px #ccc;
}
.cssSettingsMenuOption:hover {
    background-color: #DBEAFF;
    cursor: pointer;
}