<div class="cssPageHeader">
    Customer <span><button type="button" class="cssButDef" (click)="jsEditCustomer(jsonCustomer.id)">Edit</button></span>
</div>
<div class="cssPageBody" *ngIf='jsonCustomer'>
    <fieldset id="idFormCustomer">
        <div class="cssFormRow"><div>First name:</div><div>{{jsonCustomer.fFirstName}}</div></div>
        <div class="cssFormRow"><div>Last name:</div><div>{{jsonCustomer.fLastName}}</div></div>
        <div class="cssFormRow"><div>Gender:</div><div>{{jsonCustomer.fGender}}</div></div>
        <div class="cssFormRow"><div>Company:</div><div>{{jsonCustomer.fCompany}}</div></div>
        <div class="cssFormRow"><div>Street address:</div><div>{{jsonCustomer.fStreetAddress}}</div></div>
        <div class="cssFormRow"><div>Post code:</div><div>{{jsonCustomer.fPostCode}}</div></div>
        <div class="cssFormRow"><div>City:</div><div>{{jsonCustomer.fCity}}</div></div>
        <div class="cssFormRow"><div>Country:</div><div>{{jsonCustomer.fCountry}}</div></div>
        <div class="cssFormRow"><div>Email address:</div><div>{{jsonCustomer.fEmail}}</div></div>
        <div class="cssFormRow"><div>Phone number:</div><div>{{jsonCustomer.fPhone}}</div></div>
        <div class="cssFormRow"><div>Last contacted:</div><div>{{jsonCustomer.fContactDate}}</div></div>
        <div class="cssFormRow"><div>Customer id:</div><div>{{jsonCustomer.fCustomerId}}</div></div>
        <div class="cssFormRow"><div>Additional info:</div><div>{{jsonCustomer.fAddInfo}}</div></div>
    </fieldset>
</div>
