<div class="cssPageHeader">Welcome to Angular demo application!</div>
<div class="cssPageBody">
    <p class="cssFirstPara">This application shows how some common web application features are build with
        Angular. This is a single page application with REST API.</p>
    <table class="cssTable" id="idHomepageTable">
        <tbody>
        <tr>
            <td>Routing:</td>
            <td>Angular router</td>
        </tr>
        <tr>
            <td>Internationalization:</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Icons:</td>
            <td></td>
        </tr>
        <tr>
            <td>Dropdown menus:</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>AJAX:</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Simple table with sorting and filtering:</td>
            <td>Own code</td>
        </tr>
        <tr>
            <td>Form with different field types; text, select, radio button, textarea:</td>
            <td>Own code</td>
        </tr>
        <tr>
            <td>Searchable select list:</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Date picker:</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Form validation:</td>
            <td>Own code</td>
        </tr>
        <tr>
            <td>Popup:</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>Charts:</td>
            <td>xxx</td>
        </tr>
        </tbody>
    </table>
</div>
